@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Comforter&family=Mitr:wght@300&family=UnifrakturMaguntia&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: 'Mitr', sans-serif;
    color: white;
    background-color: #0d1117;
}

h1 {
    font-family: 'Mitr', sans-serif;
}

.dev-name-font{
    font-family: 'Comforter', cursive;
}

.evil-font{
    font-family: 'UnifrakturMaguntia', cursive;
}

.style-font{
    font-family: 'Bungee Shade', cursive;
}

.hide-scrollbar::-webkit-scrollbar {
    overflow: none;
}